//custom colours
$purple-gray: #333138;
$main-blue: #0465E1;

// 2. Include any default variable overrides here
$primary: $main-blue; 
$body-color: $purple-gray;
$navbar-light-color: $purple-gray;
$navbar-light-hover-color: black;

$font-family-base: "Raleway", serif;

@import "../node_modules/bootstrap/scss/bootstrap";

.horizontal-bar {
    background-color: #7F9DC3;
    width: 30%;
    border-radius: 5px;
    height: 5px;
}

.fs-1-1 {
    font-size: 1.1rem;
}

#navbarContent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1rem;
}

.cc-footer a{
    text-decoration: none;
    color: $purple-gray;
}

.cc-footer a:hover {
    text-decoration: underline;
    color: $main-blue;
}

.cc-footer h5 {
    color: $main-blue;
    margin-top: 8rem;
}

.cc-footer-copyright {
    border-top: 0.15rem solid $main-blue;
}

.hero-banner {
    background-image: url(../images/hero-banner-lg.png);
    background-position: center;
    height: 500px;
    position: relative;
    z-index: -1;
}

.hero-text {
    position: absolute;
    top: 35%;
    left: 16vw;
    width: 35rem;
    //transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1 {
    font-weight: 800;
}

.underline {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: $main-blue;
    text-decoration-thickness: 10%;
    text-underline-offset: 8%;
    text-underline-position: from-font;
}

.homepage-service-row {
    column-gap: 3rem; 
    flex-wrap: nowrap;
    
}

.homepage-service-card {
    padding: 0;
    border: 0.2rem solid $main-blue;
    border-radius: 1px;
}

.homepage-service-card a {
    text-decoration: none;
    color: white;
}

.homepage-service-card a:hover {
    text-decoration: none;
    color: rgb(240, 234, 234);
}