//custom colours
$purple-gray: #333138;
$main-blue: #0465E1;

// 2. Include any default variable overrides here
$primary: $main-blue; 
$body-color: $purple-gray;
$navbar-light-color: $purple-gray;
$navbar-light-hover-color: black;

$font-family-base: "Raleway", serif;

@import "../node_modules/bootstrap/scss/bootstrap";

.horizontal-bar {
    background-color: #7F9DC3;
    width: 30%;
    border-radius: 5px;
    height: 5px;
}

.fs-1-1 {
    font-size: 1.1rem;
}

#navbarContent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1rem;
}

.cc-footer a{
    text-decoration: none;
    color: $purple-gray;
}

.cc-footer a:hover {
    text-decoration: underline;
    color: $main-blue;
}

.cc-footer h5 {
    color: $main-blue;
}

.cc-footer-copyright {
    border-top: 0.15rem solid $main-blue;
    
}